@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* Applying css resets --------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Applying General Styling */

*,
*:after. *:before {
    box-sizing: border-box;
}

:root {
    --primary: #23347B;
    --secondary: #F9234D;
    --light: #DFECFF;
    --grey:rgb(104, 104, 104);
    --lightprimary: #3c4c8f;
}

html {
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
}
body{
    line-height: 1.5;
}
.container{
    width: 90%;
    margin: 0 auto;
}

.dark-text {
    color: black;
}

.white-text {
    color: white;
}
.red-text{
    color: var(--secondary);
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.margin-l {
    margin-left: 4rem;
}

.margin-r {
    margin-right: 2rem;
}

.margin-t {
    margin-top: 2rem;
}

.margin-b {
    margin-bottom: 2rem;
}

.padding-c {
    padding: 3rem 0;
}

.padding-m {
    padding: 0 3rem;
}
.btn-primary{
   font-size: 1.8rem;
   border-radius: 0.5rem;
   padding: 1.2rem 4rem;
   text-transform: capitalize;
   margin-left: 3rem;
   background-color: var(--secondary);
   display: inline-block;

}


/* predefining flex classes  */
.flex {
    display: flex;

}

.column {
    flex-direction: column;
}

.center-m {
    justify-content: center;
}

.center-c {
    align-items: center;
}

.start-m {
    justify-content: flex-start;
}

.start-c {
    align-items: flex-start;
}

.space-m {
    justify-content: space-between;
}

.space-c {
    align-items: space-between;
}
.grow-60{
    flex: 0 1 60%;
}
.grow-55{
    flex: 0 1 55%;
}
.grow-50{
    flex: 0 1 50%;
}
.grow-40{
    flex: 0 1 40%;
}
.grow-48{
    flex: 0 1 48%;
}
.grow-33{
    flex: 0 1 33%;
}
.grow-30{
    flex: 0 1 30%;
}
.grow-28{
    flex: 0 1 28%;
}
.grow-24{
    flex: 0 1 24%;
}


/* styling header section---------------------------------- */

.header{
  
    background-image:  linear-gradient(to right, rgba(0,0,200,0.8),rgba(0,0,200,0.8)) ,url(../banner.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  
}
.navbar{
    padding: 3rem 0;
}
.brand-icon a{
    font-size: 3rem;
    font-weight: 800;
}
li{
    padding:2rem 0;
}
nav a{
    font-size: 2rem;
    font-weight: 600;
    text-transform:uppercase;

}

/* styling hero section  */

.hero{
    padding: 3rem 0;
}
 h1{
    font-size: 4rem;
    margin: 2rem 0;
    color: white;
    font-weight: bold;
    text-transform: capitalize;

}

.hero p{color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.5rem 0;
    margin-bottom: 3rem;

}
.hero-content{
    height: 40rem;
}
.hero .btn-primary{
 margin: 0;
 color: white;
 font-weight: 500;
}

.hero-img img{
    width: 100%;
    border: none;
    border-top-left-radius:2rem ;
    border-bottom-right-radius: 2rem;
}

/* styling about section */

.about{
    padding: 3rem 0;
}
.about-img img{
    width: 100%;
}
.about h2{
    font-size: 4.5rem;
    margin: 2rem 0;
    font-weight: bold;
    text-transform: capitalize;

}
.about p{
    font-size: 2rem;
    font-weight: 600;
    padding: 1.5rem 0;
    color: var(--grey);
    margin-bottom: 3rem;
}
.about .btn-primary{
    margin: 0;
    color: white;
    font-weight: 700;
}
/* styling join section */

.join{
    background-color:var(--light);
    padding: 4rem 0;
}
.join h2{
    margin: 3rem 0;
    text-align: center;
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: bold;
   
}
.join fieldset{
    border: 2px dashed var(--secondary);
    padding: 2rem;

}
.join fieldset span{
   font-size: 2.5rem;
   text-transform: capitalize;
   font-weight: bold;
   margin-bottom:1.5rem;
}
.join fieldset p{
    font-size: 1.5rem;
    color: var(--grey);
    margin:1.5rem 0;
}
.join fieldset legend{
    font-size: 3rem;
    font-weight: bold;
    color: var(--secondary);
}