@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* Applying css resets --------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Applying General Styling */

*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --primary: #23347B;
    --secondary: #F9234D;
    --light: #DFECFF;
    --grey: rgb(104, 104, 104);
    --lightprimary: #3c4c8f;
}

html {
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
}

body {
    line-height: 1.5;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.dark-text {
    color: black;
}

.white-text {
    color: white;
}

.red-text {
    color: var(--secondary);
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.margin-l {
    margin-left: 2rem;
}

.margin-r {
    margin-right: 2rem;
}

.margin-t {
    margin-top: 2rem;
}

.margin-b {
    margin-bottom: 2rem;
}

.padding-c {
    padding: 3rem 0;
}

.padding-m {
    padding: 0 3rem;
}

.btn-primary {
    font-size: 1.8rem;
    border-radius: 0.5rem;
    padding: 1.2rem 4rem;
    text-transform: capitalize;
    margin-left: 1rem;
    background-color: var(--secondary);
    display: inline-block;

}


/* predefining flex classes  */
.flex {
    display: flex;

}

.column {
    flex-direction: column;
}

.center-m {
    justify-content: center;
}

.center-c {
    align-items: center;
}

.end-c {
    justify-content: flex-end;
}

.start-m {
    justify-content: flex-start;
}

.start-c {
    align-items: flex-start;
}

.space-m {
    justify-content: space-between;
}

.space-c {
    align-items: space-between;
}

.grow-70 {
    flex: 0 1 70%;
}

.grow-65 {
    flex: 0 1 65%;
}

.grow-60 {
    flex: 0 1 60%;
}

.grow-58 {
    flex: 0 1 58%;
}

.grow-55 {
    flex: 0 1 55%;
}

.grow-50 {
    flex: 0 1 50%;
}

.grow-40 {
    flex: 0 1 40%;
}

.grow-48 {
    flex: 0 1 48%;
}

.grow-33 {
    flex: 0 1 33%;
}

.grow-30 {
    flex: 0 1 30%;
}

.grow-28 {
    flex: 0 1 28%;
}

.grow-24 {
    flex: 0 1 24%;
}

.grow-20 {
    flex: 0 1 20%;
}

.grow-14 {
    flex: 0 1 14%;
}

.grow {
    flex-shrink: 1;
    flex-grow: 0;
}

/* styling header section---------------------------------- */

.header {

    background-image: linear-gradient(to right, rgba(0, 0, 200, 0.8), rgba(0, 0, 200, 0.8)), url(../banner.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

}

.navbar {
    padding: 3rem 0;
}

.brand-icon a {
    font-size: 3rem;
    font-weight: 800;
}




nav a {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;

}



/* styling hero section  */

.hero {
    padding: 3rem 0;
}

h1 {
    font-size: 4rem;
    margin: 2rem 0;
    color: white;
    font-weight: bold;
    text-transform: capitalize;

}

.hero p {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.5rem 0;
    margin-bottom: 3rem;

}

.hero-content {
    height: 40rem;
}

.hero .btn-primary {
    margin: 0;
    color: white;
    font-weight: 500;
}

.hero-img img {
    width: 100%;
    border: none;

}

/* styling about section */

.about {
    padding: 3rem 0;
}

.about-img img {
    width: 100%;
}

.about h2 {
    font-size: 4.5rem;
    margin: 2rem 0;
    font-weight: bold;
    text-transform: capitalize;

}

.about p {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.5rem 0;
    color: var(--grey);
    margin-bottom: 3rem;
}

.about .btn-primary {
    margin: 0;
    color: white;
    font-weight: 700;
}

/* styling join section */

.join {
    background-color: var(--light);
    padding: 4rem 0;
}

.join h2 {
    margin: 3rem 0;
    text-align: center;
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: bold;

}

.join fieldset {
    border: 2px dashed var(--secondary);
    padding: 2rem;

}

.join fieldset span {
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.join fieldset p {
    font-size: 1.5rem;
    color: var(--grey);
    margin: 1.5rem 0;
}

.join fieldset legend {
    font-size: 3rem;
    font-weight: bold;
    color: var(--secondary);
}

/* styling schedule section */
.schedule {
    padding: 6rem 0;

}

.schedule h2 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 3rem;
}

.schedule .circle {
    height: 12rem;
    font-size: 3.5rem;
    font-weight: bold;
    width: 12rem;
    margin-bottom: 4.5rem;
    border-radius: 6rem;
    border: 2px dashed var(--secondary);
    text-align: center;
    line-height: 1;
}

.schedule .circle:hover {
    background-color: var(--secondary);
    color: white;
}

.col-1 {
    position: relative;
}

.schedule .centered {
    border: none;
    position: absolute;
    border-left: 2px dashed var(--secondary);
    height: 5rem;
}

.schedule .line1 {
    left: 11rem;
    top: 11.6rem;
}

.schedule .line2 {
    left: 11rem;
    top: 28.5rem;
}

.schedule .line3 {
    left: 11rem;
    top: 45rem;
}

.schedule .active {
    background-color: var(--secondary);
    color: white;
}

.schedule .col-3 img {
    width: 100%;
    margin-bottom: 5.8rem;
    border-radius: 0.5rem;
}

.schedule .col-3 span {
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;

}

.schedule .col-3 p {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--grey);
    margin-top: 1rem;
    margin-bottom: 5.8rem;

}

.schedule .btn-primary {
    margin: 0;
    color: white;
    font-weight: bold;
}

/* styling services section */

.services {
    background-color: var(--light);
    padding: 4rem 0;
}

.services .container {
    width: 80%;
}

.services-img {
    width: 100%;
    display: flex;
    padding: 1rem 2.3rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.services-img:hover {
    border-radius: 1rem;

    background-color: var(--secondary);
}

.services-img img {
    width: 100%;

}

.services-img h2 {
    font-size: 3rem;
    font-weight: 900;
}

.services-img span {
    font-size: 2rem;
    font-weight: 700;
}

.services .active {
    border-radius: 1rem;

    background-color: var(--secondary);
}

/* styling video section */
.video {
    padding: 6rem 0;

}

video {
    margin: 0;
    width: 100%;
    height: 50rem;
    border: none;
    border-radius: 1rem;
    object-fit: cover;
}

/* styling news section */
.news {
    background-color: var(--light);
    padding: 4rem 0 8rem 0;
}

.news article img {
    width: 100%;
}

.news article h4 {
    font-size: 2rem;
    margin-top: 1rem;
    text-transform: capitalize;
    font-weight: bold;

}

.news article p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--grey);
}

.news article a {
    text-decoration: underline;
    font-size: 2rem;
    display: inline-block;
    margin: 2rem 0;
}

.news .active {
    color: var(--secondary);
}

.news article a:hover {
    color: var(--secondary);
}

/* styling bottom links section */

.bottom-links {
    background-color: var(--lightprimary);
    padding: 4rem 0;
}

.bottom-links .logo {
    align-self: center;

}



.bottom-links .quick-links,
.follow-us span {
    font-size: 2rem;
    color: white;
    font-weight: 900;
}

.quick-links {
    margin-left: 5rem;
    height: 6.5rem;

}

.follow-us {
    height: 6rem;
}

.quick-links li {
    margin: 0;
    padding: 0;

}

.quick-links a {
    color: rgb(143, 143, 143);
    font-weight: 600;
    margin-right: 2rem;
}

.fa {
    margin-right: 2rem;
    color: var(--light);
}

/* styling footer */

footer {
    text-align: center;
    padding: 2rem 0;
    background-color: var(--primary);
}

.footer-text {
    font-size: 1.5rem;
    color: rgb(143, 143, 143);
}

#toggle {
    display: none;
}

.bars {
    display: none;
}

@media screen and (max-width:900px) {
    html {
        font-size: 7px;
    }
}

/* styling for 768pc and below */

@media screen and (max-width:768px) {
    html {
        font-size: 7px;
    }

    nav {
        display: none;
        padding: 12rem 0;
    }

    nav li {
        margin-left: 0;
        margin-top: 5rem;

    }

    #toggle:checked~nav {
        display: inline-block;
    }

    ul {
        flex-direction: column;
    }

    .bars {
        display: inline-block;
        font-size: 2.5rem;
        color: white;
        z-index: 90;
        position: fixed;
        top: 3rem;
        right: 5rem;
    }

    .navbar {
        padding: 3rem 0;

    }

    .brand-icon {
        z-index: 90;
        flex: 0 1 40%
    }


    .nav {
        margin: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #3c4d8ff1;

        right: 0;
    }


    /* styling hero */
    .hero {
        flex-direction: column;
        padding: 1rem;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
        order: 1;
    }

    .hero-content p {
        text-align: center;
    }

    .hero-img img {
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    /* styling about */
    .about {
        flex-direction: column;
        padding: 2rem;

    }

    .about p {
        text-align: center;
    }

    /* styling join section */

    .join-container {
        flex-direction: column;
        padding: 2rem 0;
    }

    .join-container fieldset {
        margin-bottom: 2rem;
    }

    /* styling services section */
    .services-wrapper {
        flex-wrap: wrap;
    }

    /* styling news section */
    .news {
        padding: 3rem 0;
    }

    .news-wrapper {
        flex-direction: column;
    }

    .news-wrapper article img {
        width: 100%;

    }

    /* styling bottom links section */

    .bottom-links {
        padding: 2rem 0;
    }

    .link-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .quick-links {

        width: 100%;
        margin: 0;
        height: 2rem;

    }

    .quick-links span {
        flex: 0 1 20%;
    }

    .link-wrapper .logo {
        margin: 3rem 0;
        align-self: flex-start;
    }

    .quick-links ul {
        flex-direction: row;
        flex: 0 1 70%;
    }

    .follow-us span {
        margin-top: 2rem;
        margin-bottom: 1rem;


    }
}